extends _layout

block head
  title #{settings.website.title}
  meta(name='description', content='#{settings.website.headline}')
  link(rel="icon", href="/public/img/favicon.ico", type='image/x-icon')

block main
  .container-fluid
    .row

      .col-md-4
        .row
          .col-md-12
            - var count = 1
            each post in posts
              if(count==1)
                .article-display
                  h3 
                    a(href="/#{post.friendlyUrl}")= post.title
                  h4
                    |#{post.createdDate.toLocaleDateString()}
                  p= post.lead
                  .row.article-display-footer
                    h5.pull-right.article-tag
                      a(href="/#")
                        span 
                          |#{post.headlineImage}
              - count+=1
              if(count>3)
                -count =1

      .col-md-4
        .row
          .col-md-12
            - var count = 1
            each post in posts
              if(count==2)
                .article-display
                  h3 
                    a(href="/#{post.friendlyUrl}")= post.title
                  h4
                    |  #{post.createdDate.toLocaleDateString()}
                  p= post.lead
                  .row.article-display-footer
                    h5.pull-right.article-tag
                      a(href="/#")
                        span 
                          | #{post.headlineImage}
              - count+=1
              if(count>3)
                -count =1

      .col-md-4
        .row
          .col-md-12
            - var count = 1
            each post in posts
              if(count==3)
                .article-display
                  h3 
                    a(href="/#{post.friendlyUrl}")= post.title
                  h4
                    |  #{post.createdDate.toLocaleDateString()}
                  p= post.lead
                  .row.article-display-footer
                    h5.pull-right.article-tag
                      a(href="/#")
                        span 
                          | #{post.headlineImage}
              - count+=1
              if(count>3)
                -count =1